@{
  Layout = "_Layout";
}

<h1>Order Details: </h1>

<h2>@Model["order"].Description</h2>
<h3>Vendor: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>