
@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery</title>
  </head>
  <body>
    <h1>Welcome to Pierre's!</h1>
    <h3><a href='/vendors'>View vendors</a></h3>
    <h3><a href='/vendors/new'>Add a new vendor</a></h3>
    <img src="/images/delicious-doughnut.jpg" alt="Donut">
  </body>
</html>
