<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery</title>
  </head>
  <body>
    <h1>Welcome to Pierre's!</h1>
    <a href='/vendors'>See list of vendors</a>
    <img src="/images/delicious-doughnut.jpg" alt="Donut">
  </body>
</html>